.loading-container {
    width: fit-content;
    margin: auto;

    /* border: 1px solid green; */
    &.active {
        background-color: #fff;
        opacity: 0.4;
    }
}

.loading-content {
    position: absolute;
    top: 5%;
    left: 50%;
    /* border: 1px solid red; */
    transform: translate(-50%, 0);
}

.loading-content img {
    /* width: 320px; */
    /* height: 210px; */
}

.loading-content h4 {
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
    margin-top: -3rem;
}